pagila-data.sql
pagila-insert-data.sql
pagila-schema.sql
note.txt
.env
.edea/
myvenv
.pytest_cache
poetry.lock
__pycache__
postgres-data/
.vscode
htmlcov/
.coverage
test/__pycache__
today.txt
create_table.py
views.py
fields.py
model_base.py
fields.py
create_table.py
connect_db.py
tasks.txt
.vscode
exchanger_scraper/connect_db.py
exchanger_scraper/model_base.py
exchanger-markets.html
